.banner{
    height: 860px;
    width: 100%;
    background-position: center center;
    background-size: cover;
    display: inline-block;

}
.banner .mask{
    height: 860px;
    background: rgba(0,0,0,0.6);
}
*{margin: 0;padding: 0;}
a{text-decoration: none;}
kbd{border: 1px solid aqua;width: 2em;height: 2em;display: inline-block;
    text-transform: uppercase;
    box-sizing:border-box;
    padding-top: 20px;position: relative;
}
kbd > button{
position: absolute;
bottom: 0;
left: 0;
display: none;
}
kbd:hover > button{
display: inline-block;
    }
#yyy > div:nth-child(3){
    margin-right: 1em;
}
main{text-align: center;}
#yyy{
    display: inline-block;
    position: fixed;
    width: 100%;
    color: white;
    font-weight: bold;
    font-family: 'Arial Black';
    font-size: 50px;
}
