*{
  margin: 0;padding: 0;}
a{
  text-decoration: none;}

body{
  background: #c5c5c5 url(./1.jpg) no-repeat center center;
  background-size: cover;
}
main{
  height: 100vh;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;}

#yyy{
  display: inline-block;
}

#yyy > div:nth-child(2){
  margin-right: 36px;
  }
#yyy > div:nth-child(3){
  margin-right: 108px;
}

.dddd{
  margin: 18px 0;
}

.kkkk{
  height: 40px;width: 50px;
  display: inline-flex;
  align-items: center;
  justify-content: center;

  font-family: Helvetica;
  font-size: 16px;

  background: linear-gradient(to bottom, #292929 0%,#111111 100%);
  color: #c5c5c5;

  border: 1px solid #373737;
  border-radius: 6px;

  box-shadow: 0 0 0 1px #1a1b1c,
  0 0 0 2px #1f2020,
  0 2px 0 2px #080808,
  0 3px 0 3px #1f2020;

  text-transform: uppercase;
  position: relative;
  margin: 0 8px;
}


.kkkk > button{
  position: absolute;
  bottom: 0;
  left: 0;
  display: none;
}
.kkkk:hover > button{
  display: inline-block;
}





